# Server
PORT=3000
NODE_ENV=development

# MongoDB connection string
# Local: mongodb://localhost:27017/medicine_db
# Atlas: mongodb+srv://user:pass@cluster.mongodb.net/medicine_db
MONGO_URI=mongodb://localhost:27017/medicine_db

# Python AI Microservice URL (where FastAPI is running)
PYTHON_API_URL=http://localhost:8000
